@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

@font-face {
  font-family: digital;
  src: url("../assets/fonts/BALLSONTHERAMPAGE.ttf") format("truetype");
}

.App {
  --background: #f0f6f9;
  --foreground: #181a26;
  --foreground-dim: rgba(24, 26, 38, 0.2);
  --x-size: 6rem;
  --y-size: 3rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100vw;
  height: 100vh;
  padding: 8vh 6vh;
  overflow: hidden;
  background-image: url("../assets/Running-Wallpaper2.jpg");
  background-size: cover;
  background-position: center top;
  font-family: Ubuntu, sans-serif;
  font-size: 2rem;
}

main {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  display: flex;
  align-items: center;
  width: 40vw;
  max-width: 35rem;
  padding: 2rem;
  border-radius: 0.5rem;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(0.4rem);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.value-container {
  display: flex;
  align-items: center;
  width: 100%;
  column-gap: 2rem;
}

.label-container {
  display: flex;
  justify-content: center;
  flex: 1;
  color: var(--background);
}

.input-container {
  display: flex;
  justify-content: center;
  flex: 1;
}

label {
  text-align: center;
}

.input-block {
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  background-color: var(--background);
  color: var(--foreground);
}

.input-block.distance-input {
  width: 8rem;
}

.input-block.distance-select {
  width: 14rem;
}

.input-block.pace {
  width: 7rem;
}

.input-block.time {
  width: 10rem;
}

input,
.select-container {
  width: 100%;
  margin: 0;
  border: none;
  outline: none;
  font-family: digital;
  text-align: center;
  background-color: inherit;
  color: inherit;
  appearance:textfield;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input {
  height: var(--y-size);
  padding: 0;
  border-top: 1px solid var(--foreground);
  border-bottom: 1px solid var(--foreground);
  font-size: 2rem;
}

.select-container {
  height: 4rem;
  border-radius: 0.5rem;
  font-size: 2rem;
}

option {
  line-height: 4rem;
}

button {
  width: 100%;
  height: var(--y-size);
  margin: 0;
  border: none;
  background-color: inherit;
  color: inherit;
}

button.up {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

button.down {
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
