* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: cornflowerblue;
  font-size: x-large;
}

.value-container {
  width: 12rem;
  margin: 1rem 0;
  padding: 1rem;
  border: 1px solid white;
}

input,
select {
  width: 100%;
}
